---
layout: default
title: Changes
permalink: /changes/
---

<p>
{% for post in site.categories.changelog %}
	{% if post.subcategory != "historic" %}
		{{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
		<br>
	{% endif %}
{% endfor %}
</p>

<br>

<h4>Historic</h4>

<p><em>Old changelogs from previous iterations of the site, preserved for the historical record.</em><p>

<p>
{% for post in site.categories.changelog %}
	{% if post.subcategory contains "historic" %}
		{{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
		<br>
	{% endif %}
{% endfor %}
</p>
